html {
    font-size: 14px;
    word-spacing: 1px;
    }
    *{
        margin: 0;
        padding: 0;
    }
    *::after{
        margin: 0;
        box-sizing: border-box;
    }
    *::before{
        margin: 0;
        box-sizing: border-box;
    }
    h1 {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    a {
        cursor: pointer;
        text-decoration: none;
    }
    
    /* #region头部导航条开始 */
    .nav-container {
        width: 100%;
        height: 107px;
        background-image: url(./bg.png);
        margin: 0;
    }
    .nav-container .nav-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1075px;
        height: 100%;
    }
    .nav-wrapper ul {
        margin-block-start: 1em;
        margin-block-end: 1em;
        list-style: none;
    }
    .nav-container .nav-wrapper .logo-wrapper {
        font-size: 0;
    }
    .nav-container .nav-wrapper .logo-wrapper img {
        max-height: 61px;
    }
    .nav-container .right-router-link {
        width: 792px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
    }
    .nav-container .right-router-link li a {
        display: inline-block;
        width: 198px;
        height: 98px;
        background-repeat: no-repeat;
    }
    .nav-container .right-router-link li h1 {
        font-size: 0;
        line-height: 0;
        display: inline-block;
    }
    .nav-container #index.active {
        background-image: url(./index_hover.png);
    }
    .nav-container #introduction {
        background-image: url(./introduction_2.png);
    }
    .nav-container #introduction:hover{
        background-image: url(./introduction_hover.png);
    }
    .nav-container #games {
        background-image: url(./games_2.png);
    }
    .nav-container #games:hover {
        background-image: url(./games_hover.png);
    }
    .nav-container #join {
        background-image: url(./join_2.png);
    }
    .nav-container #join:hover {
        background-image: url(./join_hover.png);
    }
    /* #endregion头部导航条结束 */

    /* #region轮播图开始 */
    .container {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .container .swiper-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
    }
    #in-container{
        position: relative;
        width: 1644px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden; /*溢出隐藏：只显示一张图片*/
    }
    .swiper-slide{
        width:1644px;
        height:599px;
        overflow: hidden;
        position: relative;
    }
    .swiper-slide .banner-img-container {
        width:6576px;
        height:599px;
        overflow: hidden;
        position: absolute;
        display: flex;
    }
    #in-container .parent{
        width: 4932px; /*整个图片层长度：1644*3=4932*/
        height: 599px;
    }
    #in-container ul{
        list-style: none;
        overflow: hidden;
        position: absolute;
        display: flex;
    }
    .swiper-slide .banner-img-container img{
        width: 100%;
    }

    /* 左右按钮 */
    .btnLeft {
    left: 10px;
    right: auto;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 2;
    cursor: pointer;
    width: 239px !important;
    height: 84px !important;
    background: url(./左箭头.png);
    }
    .btnRight {
    right: 10px;
    left: auto;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 2;
    cursor: pointer;
    width: 239px !important;
    height: 84px !important;
    background: url(./右箭头.png);
    }
    /* 下方小条 */
    #in-container .dots li{
        margin: 0 4px;
        cursor: pointer;
        display: inline-block;
        width: 57px !important;
        height: 16px !important;
        border-radius: 0 !important;
        opacity: 1 !important;
        border-radius: 0 !important;
    }
    #in-container .middlefix {
    bottom: 30px !important;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 2;
    }
    .on{
        background-image: url(./下方滚动条.png)
    }
    .off{
        background-image: url(./下方滚动条2.png);
    }
    /* #endregion轮播图结束 */
    

    /* #region页脚开始 */
    .footer {
        background-image: url(./bg\ \(1\).png);
    }
    .footer .foot-container {
        width: 1200px;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;
    }
    .footer .foot-container .foot-logo {
        margin-top: 65px;
        height: 93px;
        width: 273px;
        float: left;
    }
    .footer .foot-container .foot-logo>img {
        max-height: 80%;
    }
    .footer .foot-container .foot-text {
        float: left;
        display: block;
        margin-top: 15px;
        margin-left: 60px;
        width: 777px;
    }
    div .foot-left-top {
        margin-top: 20px;
    }
    div .foot-left-top a {
        font-size: 17px;
        color: #fff;
        padding: 0 20px;
        text-decoration: none;
    }
    div .foot-left-top .line {
        padding: 0 20px;
        color: #707070;
    }
    div .foot-left-bottom{
        margin-top: 20px;
        color: #aaa;
    }
    div .foot-left-bottom div {
        height: 25px;
    }
    div .foot-left-bottom a{
        text-decoration: none;
        color: #aaa;
    }
    img .gov-img {
        height: 25px;
        vertical-align: middle;
    }
    /* #endregion页脚结束 */