html {
    font-size: 14px;
    word-spacing: 1px;
}
*{
    margin: 0;
    padding: 0;
}
*::after{
    margin: 0;
    box-sizing: border-box;
}
*::before{
    margin: 0;
    box-sizing: border-box;
}
h1 {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a {
    cursor: pointer;
}
/* #region头部导航条开始 */
.nav-container {
    width: 100%;
    height: 107px;
    background-image: url(./bg.png);
    margin: 0;
}
.nav-container .nav-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1075px;
    height: 100%;
}
.nav-wrapper ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
}
.nav-wrapper li {
    display: list-item;
}

.nav-container .nav-wrapper .logo-wrapper {
    font-size: 0;
}
.nav-container .nav-wrapper .logo-wrapper img {
    max-height: 61px;
}

.nav-container .right-router-link {
    width: 792px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}
.nav-container .right-router-link li a {
    display: inline-block;
    width: 198px;
    height: 98px;
    background-repeat: no-repeat;
}
.nav-container .right-router-link li h1 {
    font-size: 0;
    line-height: 0;
    display: inline-block;
}   
.nav-container .right-router-link li{
    flex: 1;
}

.nav-container #introduction.active {
    background-image: url(./introduction_hover.png);
}
.nav-container #index {
    background-image: url(./index_2.png);
}
.nav-container #index:hover{
    background-image: url(./index_hover.png);
}
.nav-container #games {
    background-image: url(./games_2.png);
}
.nav-container #games:hover {
    background-image: url(./games_hover.png);
}
.nav-container #join {
    background-image: url(./join_2.png);
}
.nav-container #join:hover {
    background-image: url(./join_hover.png);
}
/* #endregion头部导航条结束 */

/* #region公司发展部分开始 */
.company {
    position: relative;
}
.company img {
    width: 100%;
    vertical-align: bottom;
    border-style: none;
}
.develop {
    overflow: hidden;
    background-image: url(./bg_timeline.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 450px;
}   

.develop .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.develop .container {
    width: 100%;
    height: 100%;
    padding: 0;
}
.develop .container img {
    vertical-align: bottom;
    width: 100%;
}
.container .timeline{
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.image-move-wapper {
    padding: 10px;
    margin-top: 80px;
}
.image-show-box {
    height: 200px;
    cursor: move;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.image-show-box img {
    vertical-align: middle;
    text-align: center;
    display: flex;
}
.timeline-progress {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.timeline-progress div.bg {
    margin-bottom: 20px;
    width: 400px;
    height: 7px;
    background: #b4b4b4;
}
.timeline-progress~div {
    text-align: center;
}
.timeline-progress div.bg div.progress {
    height: 7px;
    background: #f54343;
}
.progress {
    display: flex;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    border-radius: .25rem;
}
/* #endregion公司发展部分结束 */

/* #region下方图片展示开始 */
.company-environment{
    width: 100%;
    text-align: center;
    background-image: url(./bg_environment.png);
    min-height: 1034px;
}
.company-environment .title img {
    margin: 80px 0;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}
.company-environment .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px
}
.row div {
    overflow: hidden;
    height: 300px;
}
.row div img {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}
.top-left-pics {
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
div .pic-text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 10%;
    top: 90%;
    color: #f8f9ff;
    font-size: 18px;
    transition: all .4s ease-in-out
}

.pic-text span {
    background-color: #333;
    padding: 0 10px
}
.top-right-pics {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.bottom-left-pics {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.bottom-middle-pics {
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.bottom-right-pics {
    flex: 0 0 32.5%;
    max-width: 32.5%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/* #endregion下方图片展示结束 */

/* #region页脚开始 */
.footer {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    position: relative;
    background-image: url(./bg\ \(1\).png);
    color: #707070;
    clear: both;
    overflow: hidden;
}
.footer .foot-container {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.footer .foot-container .foot-logo {
    position: relative;
    margin-top: 65px;
    height: 93px;
    width: 273px;
    float: left;
    display: block;
}
.footer .foot-container .foot-logo>img {
    max-height: 80%;
}
.footer .foot-container .foot-text {
    position: relative;
    float: left;
    display: block;
    margin-top: 15px;
    margin-left: 60px;
    width: 777px;
}
div .foot-left-top {
    margin-top: 20px;
}
div .foot-left-top a {
    font-size: 17px;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
}
div .foot-left-top .line {
    padding: 0 20px;
    color: #707070;
}
div .foot-left-bottom{
    margin-top: 20px;
    color: #aaa;
}
div .foot-left-bottom div {
    height: 25px;
}
div .foot-left-bottom a{
    text-decoration: none;
    color: #aaa;
}
img .gov-img {
    height: 25px;
    vertical-align: middle;
}
/* #endregion页脚结束 */


/* 响应式布局 */
@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}